<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>UnBox About Us</title>
</head>
<body>
    <div class="container">
        <h1>Unbox</h1>
        <div class="navigation">
            <ul>
                <li><a href="/">Ready to get started? Sign Up </a>|</li>
                <li><a href="price">Pricing</a></li>

            </ul>
        </div>
        <div class="info">
            <h3>We're here to help!</h3>
            <hr>
            <p>Online shopping has only increased and what comes with your stuff? BOXES! Lot's of them</p>
            <p>Your regular recycling may not pick them up unless they are neatly broken down and stacked</p>
            <p>Then you have to load them into your car (if they'll fit) and take them to the recyling facility</p>
            <p>That's where we come in. We want to make your life easier!!
            <p>No worries! We'll come to you, pick up all those boxes and haul them to a recycling facility.</p>
            <p>You can either break them down or we can do it for you. Easy Peasy :)</p>
            <p>Recyling guilt be gone!!</p>
            <hr>
            <h3>Good for the planet & you!</h3>
        </div>
    </div>
</body>
</html>