<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>UnBox Edit Address</title>
</head>
<body>
    <div class="container">
        <h1>UnBox</h1>
        <h3>Edit Address</h3>
        <div class="edit_form">
            {% for address in all_addresses %}
            <form action="/update/address/{{address.id}}" method="POST">
                <p>Address <input type="text" name="address" value="{{address.address}}"></p>
                <p>City <input type="text" name="city" value="{{address.city}}"></p>
                <p>State <input type="text" name="state" value="{{address.state}}"></p>
                <input type="submit" value="Update">
                <a href="/user_page"><button>Back</button></a>
            </form>
            {% endfor %}

            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
    </div>
</body>
</html>