<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>UnBox Pricing</title>
</head>
<body>
    <div class="container">
        <h1>UnBox</h1>
        <div class="navigation">
            <ul>
                <li><a href="/">Sign Up/Log In</a>|</li>
                <li><a href="/user_page">Account</a>|</li>
                <li><a href="/about">About Us</a></li>
            </ul>
        </div>
        <hr>
        <h2>Pricing</h2>
        <div class="pricing">
            <p>$60 flat fee: within 25 miles of Seattle</p>
            <p>+$5 for each additional mile</p>
            <p>$40 flat fee additional to breakdown boxes</p>
        </div>
        <hr>
    </div>

    
</body>
</html>